@charset "utf-8";
/* CSS Document */

Backgroud
width: 1020px;
	height: 1980px;
	background-color: #e2dddb;
    
Header and social media icons
width: 122px;
height: 14px;
font-family: 'Nirmala UI';
color: #2c3e50;
font-size: 16.88px;
font-weight: 400;
transform: scale(0.98,0.989);

width: 29px;
height: 29px;
border-radius: 50%;
background-color: #ffffff;

width: 28px;
height: 29px;
border-radius: 50%;
background-color: #ffffff;

width: 28px;
height: 29px;
border-radius: 50%;
background-color: #ffffff;

width: 28px;
height: 29px;
border-radius: 50%;
background-color: #ffffff;

width: 9px;
height: 16px;
font-family: FontAwesome;
color: #2c3e50;
font-size: 16px;
font-weight: 400;
transform: scale(0.98,0.989);

width: 174px;
height: 18px;
font-family: 'Nirmala UI';
color: #2c3e50;
font-size: 16.88px;
font-weight: 400;
transform: scale(0.98,0.989);

width: 20px;
height: 13px;
font-family: FontAwesome;
color: #2c3e50;
font-size: 16px;
font-weight: 400;
transform: scale(0.98,0.989);

width: 16px;
height: 13px;
font-family: FontAwesome;
color: #2c3e50;
font-size: 16px;
font-weight: 400;
transform: scale(0.98,0.989);

width: 16px;
height: 16px;
font-family: FontAwesome;
color: #2c3e50;
font-size: 20px;
font-weight: 400;
transform: scale(0.98,0.989);

width: 14px;
height: 12px;
font-family: FontAwesome;
color: #2c3e50;
font-size: 16px;
font-weight: 400;
transform: scale(0.98,0.989);

width: 15px;
height: 14px;
font-family: FontAwesome;
color: #2c3e50;
font-size: 16px;
font-weight: 400;
transform: scale(0.98,0.989);

Logo and navigation
width: 1020px;
height: 69px;
background-color: #363636;

width: 192px;
height: 69px;
background-color: #ffffff;

width: 425px;
height: 16px;
font-family: 'Myriad Pro';
color: #ffffff;
font-size: 16.88px;
font-weight: 400;
transform: scale(0.98,0.989);

logo
width: 134px;
height: 22px;
font-family: NexaBold;
font-size: 15px;
font-weight: 400;
color: #2c3e50;
transform: scale(1.92,1.937);

width: 113px;
height: 10px;
font-family: NexaBold;
color: #2c3e50;
font-size: 14px;
font-weight: 400;
transform: scale(0.98,0.989);

book now
width: 135px;
height: 38px;
background-color: #e8175d;

width: 81px;
height: 14px;
font-family: 'Nirmala UI';
color: #ffffff;
font-size: 16.88px;
font-weight: 700;
transform: scale(0.98,0.989);

Top banner
width: 1020px;
height: 357px;
background-color: #000000;

width: 1020px;
height: 357px;

width: 429px;
height: 63px;
font-family: 'Nirmala UI';
font-size: 19.36px;
font-weight: 700;
color: #ffffff;
transform: scale(1.465,1.478);

width: 270px;
height: 82px;
font-family: 'Nirmala UI';
color: #ffffff;
font-size: 18.57px;
font-weight: 400;
line-height: 24px;
transform: scale(0.7,0.706);

width: 96px;
height: 28px;
background-color: #e8175d;

width: 67px;
height: 12px;
font-family: 'Nirmala UI';
color: #ffffff;
font-size: 20.26px;
font-weight: 400;
transform: scale(0.7,0.706);
    
About 1
width: 341px;
height: 308px;
background-color: #ffffff;

width: 341px;
height: 158px;
background-color: #398fc7;

width: 341px;
height: 158px;

width: 253px;
height: 18px;
font-family: 'Nirmala UI';
color: #2c3e50;
font-size: 19.21px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 237px;
height: 30px;
font-family: 'Nirmala UI';
color: #8e8e8e;
font-size: 15.09px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 74px;
height: 11px;
font-family: 'Nirmala UI';
color: #e8175d;
font-size: 15.09px;
font-weight: 400;
transform: scale(0.862,0.869);

Booking Form
width: 337px;
height: 615px;
background-color: #cc527a;

width: 337px;
height: 615px;

width: 206px;
height: 18px;
font-family: 'Nirmala UI';
color: #ffffff;
font-size: 24.69px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 159px;
height: 34px;
font-family: 'Nirmala UI';
color: #ffffff;
font-size: 11.16px;
font-weight: 400;
transform: scale(1.482,1.496);

width: 269px;
height: 97px;
font-family: 'Myriad Pro';
color: #ffffff;
font-size: 15px;
font-weight: 400;
line-height: 24px;
transform: scale(0.862,0.869);

form
width: 274px;
height: 44px;
background-color: #ffffff;

width: 274px;
height: 44px;
background-color: #ffffff;

width: 274px;
height: 44px;
background-color: #ffffff;

width: 274px;
height: 44px;
background-color: #ffffff;

width: 274px;
height: 44px;
background-color: #ffffff;

width: 67px;
height: 11px;
font-family: 'Nirmala UI';
color: #8e8e8e;
font-size: 15.09px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 88px;
height: 14px;
font-family: 'Nirmala UI';
color: #8e8e8e;
font-size: 15.09px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 33px;
height: 11px;
font-family: 'Nirmala UI';
color: #8e8e8e;
font-size: 15.09px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 104px;
height: 14px;
font-family: 'Nirmala UI';
color: #8e8e8e;
font-size: 15.09px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 67px;
height: 13px;
font-family: 'Myriad Pro';
color: #8e8e8e;
font-size: 15px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 144px;
height: 34px;
background-color: #474747;

width: 101px;
height: 13px;
font-family: 'Myriad Pro';
color: #ffffff;
font-size: 16px;
font-weight: 400;
transform: scale(0.862,0.869);

About Hotel 2
width: 344px;
height: 308px;
background-color: #ffffff;

width: 344px;
height: 158px;
background-color: #398fc7;

width: 344px;
height: 158px;

width: 74px;
height: 11px;
font-family: 'Nirmala UI';
color: #e8175d;
font-size: 15.09px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 253px;
height: 18px;
font-family: 'Nirmala UI';
color: #2c3e50;
font-size: 19.21px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 269px;
height: 29px;
font-family: 'Myriad Pro';
color: #8e8e8e;
font-size: 15.09px;
font-weight: 400;
transform: scale(0.862,0.869);

Hotel overview
width: 341px;
height: 308px;
background-color: #e8175d;

width: 341px;
height: 68px;
background-color: #474747;

width: 143px;
height: 18px;
font-family: 'Nirmala UI';
color: #ffffff;
font-size: 24.69px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 193px;
height: 167px;
font-family: 'Myriad Pro';
color: #ffffff;
font-size: 15px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 21px;
height: 21px;
border-radius: 50%;
background-color: rgba(0, 0, 0, 0);

width: 11px;
height: 8px;
font-family: FontAwesome;
color: #ffffff;
font-size: 13px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 21px;
height: 21px;
border-radius: 50%;
background-color: rgba(0, 0, 0, 0);

width: 11px;
height: 8px;
font-family: FontAwesome;
color: #ffffff;
font-size: 13px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 21px;
height: 21px;
border-radius: 50%;
background-color: rgba(0, 0, 0, 0);

width: 11px;
height: 8px;
font-family: FontAwesome;
color: #ffffff;
font-size: 13px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 21px;
height: 21px;
border-radius: 50%;
background-color: rgba(0, 0, 0, 0);

width: 11px;
height: 8px;
font-family: FontAwesome;
color: #ffffff;
font-size: 13px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 21px;
height: 22px;
border-radius: 50%;
background-color: rgba(0, 0, 0, 0);

width: 11px;
height: 8px;
font-family: FontAwesome;
color: #ffffff;
font-size: 13px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 21px;
height: 21px;
border-radius: 50%;
background-color: rgba(0, 0, 0, 0);

width: 11px;
height: 8px;
font-family: FontAwesome;
color: #ffffff;
font-size: 13px;
font-weight: 400;
transform: scale(0.862,0.869);

Gallery
width: 346px;
height: 308px;
background-color: #363636;

width: 344px;
height: 240px;
background-color: #398fc7;

width: 344px;
height: 240px;

width: 62px;
height: 21px;
font-family: 'Myriad Pro';
color: #ffffff;
font-size: 24.69px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 34px;
height: 31px;
background-color: #e8175d;

width: 33px;
height: 31px;
background-color: #a8a7a8;

width: 6px;
height: 11px;
font-family: FontAwesome;
color: #2c3e50;
font-size: 20px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 6px;
height: 11px;
font-family: FontAwesome;
color: #2c3e50;
font-size: 20px;
font-weight: 400;
transform: scale(0.862,0.869);

customer says
width: 341px;
height: 307px;
background-color: #ffffff;

width: 137px;
height: 22px;
font-family: 'Nirmala UI';
color: #545454;
font-size: 24.69px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 223px;
height: 60px;
font-family: 'Myriad Pro';
color: #616161;
font-size: 15.09px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 94px;
height: 30px;
font-family: 'Nirmala UI';
color: #2c3e50;
font-size: 16.46px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 50px;
height: 51px;
border-radius: 50%;
background-color: #d1d1d1;

width: 50px;
height: 51px;

width: 34px;
height: 30px;
background-color: #e8175d;

width: 33px;
height: 30px;
background-color: #a8a7a8;

width: 6px;
height: 11px;
font-family: FontAwesome;
color: #2c3e50;
font-size: 20px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 6px;
height: 11px;
font-family: FontAwesome;
color: #2c3e50;
font-size: 20px;
font-weight: 400;
transform: scale(0.862,0.869);

Promo
width: 337px;
height: 306px;
background-color: #484848;

width: 34px;
height: 30px;
background-color: #e8175d;

width: 34px;
height: 30px;
background-color: #a8a7a8;

width: 139px;
height: 32px;
font-family: 'Nirmala UI';
color: #ffffff;
font-size: 16.46px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 61px;
height: 17px;
font-family: 'Nirmala UI';
color: #ffffff;
font-size: 24.69px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 110px;
height: 75px;

width: 151px;
height: 14px;
font-family: 'Nirmala UI';
color: #ffffff;
font-size: 15px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 139px;
height: 33px;
font-family: 'Nirmala UI';
color: #ffffff;
font-size: 16.46px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 110px;
height: 75px;

width: 152px;
height: 14px;
font-family: 'Nirmala UI';
color: #ffffff;
font-size: 15.09px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 6px;
height: 11px;
font-family: FontAwesome;
color: #2c3e50;
font-size: 20px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 6px;
height: 11px;
font-family: FontAwesome;
color: #2c3e50;
font-size: 20px;
font-weight: 400;
transform: scale(0.862,0.869);

get in touch
width: 344px;
height: 307px;
background-color: #ffffff;

width: 114px;
height: 18px;
font-family: 'Nirmala UI';
color: #545454;
font-size: 24.69px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 153px;
height: 171px;
font-family: 'Nirmala UI';
color: #616060;
font-size: 15.09px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 26px;
height: 26px;
border-radius: 50%;
background-color: #ffffff;

width: 26px;
height: 26px;
border-radius: 50%;
background-color: #ffffff;

width: 26px;
height: 26px;
border-radius: 50%;
background-color: #ffffff;

width: 26px;
height: 26px;
border-radius: 50%;
background-color: #ffffff;

width: 13px;
height: 10px;
font-family: FontAwesome;
color: #2c3e50;
font-size: 15px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 11px;
height: 11px;
font-family: FontAwesome;
color: #2c3e50;
font-size: 15px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 12px;
height: 10px;
font-family: FontAwesome;
color: #2c3e50;
font-size: 13px;
font-weight: 400;
transform: scale(0.862,0.869);

width: 11px;
height: 12px;
font-family: FontAwesome;
color: #2c3e50;
font-size: 15px;
font-weight: 400;
transform: scale(0.862,0.869);

maps
width: 1020px;
height: 252px;
background-color: #000000;

width: 1020px;
height: 252px;

footer
width: 1020px;
height: 327px;
background-color: #363636;

about us
width: 259px;
height: 132px;
font-family: 'Nirmala UI';
color: #e2dfdf;
font-size: 16.88px;
font-weight: 400;
transform: scale(0.84,0.848);

width: 81px;
height: 15px;
font-family: 'Nirmala UI';
color: #e8175d;
font-size: 22.51px;
font-weight: 700;
transform: scale(0.84,0.848);

Promo
width: 48px;
height: 15px;
font-family: 'Nirmala UI';
color: #e8175d;
font-size: 22.51px;
font-weight: 700;
transform: scale(0.84,0.848);

width: 108px;
height: 72px;

width: 139px;
height: 32px;
font-family: 'Nirmala UI';
color: #ffffff;
font-size: 16.88px;
font-weight: 400;
transform: scale(0.84,0.848);

width: 140px;
height: 32px;
font-family: 'Myriad Pro';
color: #ffffff;
font-size: 18px;
font-weight: 400;
transform: scale(0.84,0.848);

width: 108px;
height: 74px;

Latest tweet
width: 223px;
height: 67px;
font-family: 'Nirmala UI';
color: #ffffff;
font-size: 16.88px;
font-weight: 400;
transform: scale(0.84,0.848);

width: 223px;
height: 66px;
font-family: 'Myriad Pro';
color: #ffffff;
font-size: 16.88px;
font-weight: 400;
transform: scale(0.84,0.848);

width: 118px;
height: 15px;
font-family: 'Nirmala UI';
color: #e8175d;
font-size: 22.51px;
font-weight: 700;
transform: scale(0.84,0.848);

list
width: 979px;
height: 4px;

© 2017 All Rights Reserved.
width: 158px;
height: 14px;
font-family: 'Nirmala UI';
color: #ffffff;
font-size: 15.47px;
font-weight: 400;
transform: scale(0.84,0.848);
















































